*{
	background: #F3F5FC;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
}
#logoAlura{
	display: block;
	padding: 60px  50PX;
	width: 5%;
}
main{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	margin-left: 80px;

}
input{
	background-color: #F3F5FC;  
	border: none;
	margin-top: 90px;
	text-transform: lowercase;
    :placeholder(color:#0A3871)
		    .input focus(outline: none)
    
}
div{
	display: flex;
	align-items: flex-start;
}
#espacoResposta{
	position: absolute;
	top: 40px;
	left: 1150px;
	width: 400px;
	height: 700px;
	border-radius: 30px;
	background-color: #FFFFFF;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
h6{
	padding-top: 300px;
	font-size: 18px;
	font-style: italic;
}
#pesquisa{
	padding-top: 10%;
	padding-left: 8%;
	background: #FFFFFF;
}
p{
	margin: 20px auto;
	text-align: center;
	font-size: 15px;
	background: #FFFFFF;
}
strong{
	font-size: 23px;
	font-weight: 700;
}
#button{
	margin-top: 70px;
	margin-left: 0px;
}
.botoes{
	display: flex;
	align-items: flex-end;
}
#btncodifica{
	margin-left: 15%;
	width: 280px;
	height: 60px;
	background: #0A3871;
	border-radius: 20px;
	text-align: center;
	color: #FFFFFF;
}
#btndescodifica{
	margin-left: 10px;
	width: 280px;
	height: 60px;
	background: #D8DFE8;
	text-align: center;
	border: 1px solid #0A3871;
	border-radius: 20px;
	color: #0A3871;
}
#btncopiar{
	width: 280px;
	align-content: flex-end;
	justify-content: center;
	margin:auto;
	margin-bottom: 10px;
	padding-bottom: 0px;
	background-color: #FFFFFF;
	background: #ffffff;
}
#resposta{
	display: flex;
	justify-content:center;
	align-items: center;
    height: 650px;
    padding-top: 15px;
	font-size: 30px;
	background-color: #FFFFFF;
	color: #0A3871;
	margin: auto;
	border: none;
}
#botoes{
	display: flex;
	align-items: flex-end;
	background: #ffffff;
    justify-content: center;
    margin-bottom: 10px;
}
#botaoCopiar{
	background-color: #FFFFFF;
    align-items: center;
    margin-left: 60px;
}


